beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
cssselect==1.1.0
feedparser==5.2.1
goose3==3.1.6
idna==2.8
jieba==0.42.1
justext==2.2.0
lxml==4.4.2
nltk==3.4.5
numpy==1.18.1
pillow==7.0.0
psycopg2==2.8.4
pycountry==19.8.18
python-dateutil==2.8.1
requests==2.22.0
scipy==1.4.1
six==1.14.0
soupsieve==1.9.5
trafilatura==0.3.0
urllib3==1.25.8
